h1
{
  position:relative;
  top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #d9d9d9;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing:2px;
  top:20px
}

a:hover {
  color: #9494b8;
}

a {
  color: #666699;
  font-size: 19px;
  font-weight: black;
  font-family: Verdana, sans-serif;
}

.alignLowerLeftCorner
{
  position: absolute;
  top: 625px;
  left: 50px;
  border: 3px solid #9494b8;
  padding: 10px;
}

body {
  font-family: Helvetica;
  margin: 0;
}

a
{
  text-decoration: none;
  color: #ccc;
}

.site-header
{
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1
{
  font-size: 1.5em;
  margin: .6em 0;
  display: inline-block;
}


.site-navigation ul,
.site-navigation li
{
  margin: 0;
  padding: 0;
}

.site-navigation li
{
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

li
{
  font-size: 5px;
  letter-spacing:1px;
}

.image
{
  border-radius: 50%;
  max-width: 14%;
  max-height: 14%;
  padding: 50px;
  margin-top: 100px;

}

p
{
  font-family: monospace
  font-size: 10px;
  font-weight: 500;
  color: #d9d9d9;
  word-spacing: 1px;
  letter-spacing:2px;
  position:relative;
  left: 50px;
  top: 50px;
}
