h1
{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

body {
  background-image: url('Pictures/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
